{% extends 'gestionBundle:Default:base.html.twig' %}
{%block corps%}
	<h2>Les sejours</h2>
	<table>
	<tr><th>Id</th><th>Date de debut</th><th>Date de fin</th><th>le numero du lit</th></th><th>le numero du patient</tr>
	{% for sejour in lesSejours %}
	<tr>
		<td>{{sejour.getId()}}</td>
		<td>{{sejour.getDateDebut()|date("d-m-Y")}}</td>
		<td>{{sejour.getDateFin()|date("d-m-Y")}}</td>
		<td>{{sejour.getNumlit()}}</td>
		<td>{{sejour.getPatient().getId()}}</td>
		<td><a href="{{path('gestion_modifierSejour',{id:sejour.getId()})}} "> Modifier le sejour </a></td>
		<td><a href="{{path('gestionBundle_supprimmerSejour',{id:sejour.getId()})}} "> supprimer le sejour </a></td>
		{%else%}
	<tr><td>Pas de sejour trouvé.</td></tr>
	{%endfor%}
	</table>
{%endblock%}